Task 1: Data Loading and Preprocessing

In [4]:
import pandas as pd

#Loading the data into pandas data frame
df = pd.read_csv("../data/Dataset.csv")
df.head()

   Sno     job  education  gender English speaker
0    1  manage         15    male              no
1    2   admin         16    male              no
2    3   admin         12  female              no
3    4   admin          8  female              no
4    5   admin         15    male              no

In [7]:
#Checking basic parameters of the dataset

In [8]:
#check fataset for the number of rows and columns
df.shape

(474, 5)

In [9]:
#Check the tendencies of data
df.describe(include = 'all')

               Sno    job   education gender English speaker
count   474.000000    474  474.000000    474             474
unique         NaN      3         NaN      2               2
top            NaN  admin         NaN   male              no
freq           NaN    363         NaN    258             370
mean    237.500000    NaN   13.491561    NaN             NaN
std     136.976275    NaN    2.884846    NaN             NaN
min       1.000000    NaN    8.000000    NaN             NaN
25%     119.250000    NaN   12.000000    NaN             NaN
50%     237.500000    NaN   12.000000    NaN             NaN
75%     355.750000    NaN   15.000000    NaN             NaN
max     474.000000    NaN   21.000000    NaN             NaN

In [12]:
#identifying categorical and numerical columns inside the dataset

catagorical_cols = df.columns[(df.dtypes == "object").tolist()].tolist()
numerical_cols = df.columns[(df.dtypes != 'object').tolist()].tolist()

In [13]:
#identifying the total missing values
missing_values = df.isnull().sum
missing_values

<bound method NDFrame._add_numeric_operations.<locals>.sum of        Sno    job  education  gender  English speaker
0    False  False      False   False            False
1    False  False      False   False            False
2    False  False      False   False            False
3    False  False      False   False            False
4    False  False      False   False            False
..     ...    ...        ...     ...              ...
469  False  False      False   False            False
470  False  False      False   False            False
471  False  False      False   False            False
472  False  False      False   False            False
473  False  False      False   False            False

[474 rows x 5 columns]>

In [14]:
missing_values_cols = missing_values[missing_values > 0].axes[0].tolist()
missing_values_cols

TypeError: '>' not supported between instances of 'method' and 'int'